{
  "swagger": "2.0",
  "info": {
    "version": "1.0.1",
    "title": "Book API",
    "description": "A simple API to learn how to write OpenAPI Specification"
  },
  "schemes": [
    "https"
  ],
  "host": "simple.api",
  "basePath": "/library",
  "paths": {
    "/books": {
      "get": {
        "summary": "Gets some books",
        "description": "Returns a list containing all books. The list supports paging.",
        "parameters": [
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/pageNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of books",
            "schema": {
              "$ref": "#/definitions/Books"
            },
            "examples": {
              "Harry Potter": {
                "value": {
                  "title": "Harry Potter",
                  "author": "J.K Rowling",
                  "description": "Best series of all time"
                }
              },
              "Twilight": {
                "value": {
                  "title": "Twilight",
                  "author": "Stephanie Meyer",
                  "description": "Worst series of all time"
                }
              }
            }
          },
          "500": {
            "$ref": "#/responses/Standard500ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Creates a Book",
        "description": "Adds a new book to the books list.",
        "parameters": [
          {
            "name": "book",
            "in": "body",
            "description": "The book to create.",
            "schema": {
              "$ref": "#/definitions/Book"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Book succesfully created."
          },
          "400": {
            "description": "Book couldn't have been created."
          },
          "500": {
            "$ref": "#/responses/Standard500ErrorResponse"
          }
        }
      }
    }
  },
  "definitions": {
    "Book": {
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string"
        },
        "author": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "Books": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Book"
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "responses": {
    "Standard500ErrorResponse": {
      "description": "An unexpected error occured.",
      "schema": {
        "$ref": "#/definitions/Error"
      }
    },
    "BookDoesNotExistResponse": {
      "description": "Book does not exist."
    }
  },
  "parameters": {
    "title": {
      "name": "title",
      "in": "path",
      "required": true,
      "description": "The book's title",
      "type": "string"
    },
    "pageSize": {
      "name": "pageSize",
      "in": "query",
      "description": "Number of books returned",
      "type": "integer"
    },
    "pageNumber": {
      "name": "pageNumber",
      "in": "query",
      "description": "Page number",
      "type": "integer"
    }
  }
}